{
    "extends": "airbnb-base",
    "parser":"babel-eslint", // eslint 识别es6 module
    "globals":{ // 添加全局对象
      "document": true,
      "localStorage": true,
      "window": true
    },
    "rules": {
      "no-console": "off"
    }
}