*{
    margin:0;
    padding:0;
}
h3{
    text-align: center;
    color: red;
}
li{
    list-style: none;
    height: 40px;
}
img{
    width: 200px;
}
li:nth-child(3){
    background: url('../img/a.jpg') no-repeat center;
    background-size: 100%;
}
li:nth-child(4){
    background-size: 100%;
    background: url('../img/e.jpg') no-repeat center;
}

.iconfont{
    font-size: 16px;
    color: #999;
}